services:
  test-postgres:
    image: postgres:17
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: gugumo
    networks:
      - doc-net


  test-redis:
    image: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - doc-net
    volumes:
      - ./redis-data:/data

  backend:
    container_name: backend
    image: theperz/gugumo-test
    ports:
      - "8080:8080"
    depends_on:
      - test-postgres
      - test-redis
    networks:
      - doc-net

networks:
  doc-net:
    driver: bridge

