name: CICD Test
run-name: Running
on:
  push:
    branches:
      - master

env:
  AWS_REGION: eu-north-1
  AWS_S3_BUCKET: gugumo-s3
  AWS_CODE_DEPLOY_APPLICATION: gugumo-cicd-test
  AWS_CODE_DEPLOY_GROUP: gugumo-cicd-test-group

jobs:
  build-with-gradle:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout master branch
      uses: actions/checkout@v3
      with:
        token: ${{secrets.GUGUMO_PROPERTIES}}
        submodules: recursive
        ref: master
          
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'corretto'
          
    - name: gradlew 실행 권한 부
      run: chmod +x ./gradlew
        
    - name: 프로젝트 빌드(테스트 코드 제외)
      run: ./gradlew clean build --exclude-task test

    - name: AWS credential 설정
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-region: ${{ env.AWS_REGION }}
        aws-access-key-id: ${{ secrets.CICD_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.CICD_SECRET_KEY }}
        
    - name: S3에 업로드
      run: aws deploy push --application-name ${{ env.AWS_CODE_DEPLOY_APPLICATION }} --ignore-hidden-files --s3-location s3://$AWS_S3_BUCKET/cicdtest/$GITHUB_SHA.zip --source .
   
    - name: EC2에 배포
      run: aws deploy create-deployment --application-name ${{ env.AWS_CODE_DEPLOY_APPLICATION }} --deployment-config-name CodeDeployDefault.AllAtOnce --deployment-group-name ${{ env.AWS_CODE_DEPLOY_GROUP }} --s3-location bucket=$AWS_S3_BUCKET,key=cicdtest/$GITHUB_SHA.zip,bundleType=zip
      
      
