name: CICD Test
run-name: Running
on:
  push:
    branches:
      - master

#env:
#  AWS_REGION: eu-north-1
#  AWS_S3_BUCKET: gugumo-s3
#  AWS_CODE_DEPLOY_APPLICATION: gugumo-cicd-test
#  AWS_CODE_DEPLOY_GROUP: gugumo-cicd-test-group

jobs:
  build-with-gradle:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout master branch
      uses: actions/checkout@v3
          
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'corretto'
          
    - name: gradlew 실행 권한 부여
      run: chmod +x ./gradlew
        
    - name: 프로젝트 빌드(테스트 코드 제외)
      run: |
        ./gradlew clean build --exclude-task test --stacktrace

    # docker login -u username -p password
    - name: docker 로그인
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}


    - name: docker 이미지 빌드
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/gugumo-test .


    - name: docker push
      run: docker push ${{ secrets.DOCKER_USERNAME }}/gugumo-test:latest

    - name: Deploy to ec2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST_TEST }} # EC2 퍼블릭 IPv4 DNS
        username: ubuntu
        key: ${{ secrets.PRIVATE_KEY }}
        port: 22

        script: |
          
          
          sudo touch .env
          echo "${{ secrets.ENV_VARS }}" | sudo tee .env > /dev/null
          
          sudo touch docker-compose.yaml
            echo "${{ vars.DOCKER_COMPOSE }}" | sudo tee docker-compose.yaml > /dev/null
          
          sudo docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          sudo docker rm -f $(sudo docker ps -qa)
          sudo docker pull ${{ secrets.DOCKER_USERNAME }}/gugumo-test:latest
          docker-compose -f docker-compose.yaml --env-file ./.env up -d
          sudo docker image prune -f
        # 도커에서 사용하지 않는 리소스 삭제
